:root {
  --container: 500px;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

div#container {
  display: flex;
  flex-direction: column;
  height: var(--container);
  width: var(--container);
  background-color: rgba(0, 0, 0, 0.05);
}

div.line {
  display: flex;
  flex: 1;
}

div.pixel {
  flex: 1;
}
