:root {
  --container: 500px;
}

body {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}

div#container {
  display: flex;
  flex-direction: column;
  height: var(--container);
  width: var(--container);
  background-color: rgba(0, 0, 0, 0.05);
}

div.line {
  display: flex;
  flex: 1;
}

div.pixel {
  flex: 1;
}